<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>About</title>
  </head>
    <link rel="stylesheet" href="./css/styles.css" />
    
    <link rel="icon" href="/img/weather.png">
  <body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/maplestory-x-demon-slayer.png" alt="Image of maple">      
    </div>
    {{>footer}}
</html>
